In [22]:
#importons la librairie panda

import pandas as pd

In [2]:
#importons la librairie numpy
import numpy as np

In [3]:
#importons la librairie matpotlib.pyplot
import matplotlib.pyplot as plt

In [10]:
a=pd.Series(['Information des systemes numeriques','Big Data pour la transformation  numerique','ingenierie affaire en energie et signaux','genie electrique et transport'],index=['ISN','BDTN','IADES','GET'])

In [11]:
a

ISN             Information des systemes numeriques
BDTN     Big Data pour la transformation  numerique
IADES      ingenierie affaire en energie et signaux
GET                   genie electrique et transport
dtype: object

In [62]:
b

ISN      TIC
BDTN     TIC
IADES    GEE
GET      GEE
dtype: object

In [70]:
dfa=pd.DataFrame({'sigle':a,
                  'departement':pd.Series(['TIC','TIC','GEE','GEE'])})
dfa

      departement                                       sigle
ISN           TIC         Information des systemes numeriques
BDTN          TIC  Big Data pour la transformation  numerique
IADES         GEE    ingenierie affaire en energie et signaux
GET           GEE               genie electrique et transport

In [103]:
df = pd.DataFrame({ 'Nom' : pd.Series(["MIKPONHOUE","JOUJOUTE","HOUNSONLON","ARNAUD","DA SILVA","TAMBOURA"]),
                     'Prenom' : pd.Series(["Yann","JB","Maickel","Alex","Sahobane","Aida"]),
                     'code dominante' : pd.Series(["BDTN","BDTN","GET","IADES","ISN","BDTN"])
             })
df

          Nom    Prenom code dominante
0  MIKPONHOUE      Yann           BDTN
1    JOUJOUTE        JB           BDTN
2  HOUNSONLON   Maickel            GET
3      ARNAUD      Alex          IADES
4    DA SILVA  Sahobane            ISN
5    TAMBOURA      Aida           BDTN

In [104]:
df2=df.copy()
df2['Departement'] = pd.Series(["TIC","TIC","GEE","GEE","TIC","TIC"])
df2

          Nom    Prenom code dominante Departement
0  MIKPONHOUE      Yann           BDTN         TIC
1    JOUJOUTE        JB           BDTN         TIC
2  HOUNSONLON   Maickel            GET         GEE
3      ARNAUD      Alex          IADES         GEE
4    DA SILVA  Sahobane            ISN         TIC
5    TAMBOURA      Aida           BDTN         TIC

In [108]:
df2a=df2.groupby('Departement').size()/6
df2a

Departement
GEE    0.333333
TIC    0.666667
dtype: float64

In [112]:
df3 = pd.DataFrame({'proportions': df2a })
df3

             proportions
Departement
GEE             0.333333
TIC             0.666667

In [98]:
df3.to_csv('oui')